$dark-Mode-Elements: hsl(209, 23%, 22%);
$dark-Mode-Background: hsl(207, 26%, 17%);
$light-Mode-Text: hsl(200, 15%, 8%);
$light-Mode-Input: hsl(0, 0%, 52%);
$light-Mode-Background: hsl(0, 0%, 98%);
$dark-Mode-Text: hsl(0, 0%, 100%);
